body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form .remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.login-form .remember-me input {
    margin-right: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.extra-links {
    margin-top: 10px;
}

.extra-links a {
    color: #007BFF;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.extra-links p {
    margin: 5px 0 0;
}

.error
{
    background: #F2DEDE;
    color: #a94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}